html,
body {
    width: 100%;
	background-color: #f7f7f7;
	font-family: Open Sans, Helvetica, Arial;
	font-weight: 400;
	color: #383838;
	font-size: 16px;
	overflow-x: hidden;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus  {
background-color: #fff;
}

#wrapper {
	
    position: relative;
}

#footer {
	margin-top: 40px;
	background-color: #f7f7f7;
	color:#7b7b7b;
	width: 100%;
	padding: 20px 0px;
    position: relative;
    bottom: 0;
    left: 0;
	font-size: 12px;
}

hr {
	border:0;
	height: 1px;
	background-color: #c8c8c8;
	margin:15px 0px;
}

#home, #about, #vision, #contact, #product {
	padding-top: 70px;
}

#product {
	padding-top: 120px;
}

.foot-size {
	font-size: 36px;
}

.no-border {
	border:0;
}

.no-space {
	margin:0;
	padding:0;
}

.no-padding {
	padding:0;
}

.no-margin {
	margin:0;
}

.clearfix {
	clear:both;
} 

.space-top { 
	margin-top:30px;
}

.space-bot { 
	margin-bottom:30px;
}

.text-left {
	text-align:left;
}

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.text-white {
	color:#fff;
}

.add-padding {
	padding: 5px;
}

.add-margin {
	margin: 5px;
}

.text-color {
	color: #458ba2;
}

/* banner */

#full-screen-slider {width:100%; height:600px; position:relative; border-bottom:1px solid #f2f2f2;}
#slides { display:block; width:100%; height:600px; list-style:none; padding:0; margin:0; position:relative;}
#slides li {display:block; width:100%; height:600px; list-style:none; padding:0; margin:0; position:absolute; }
#slides li a { display:block; width:100%; height:600px; text-indent:-9999px}
#pagination { display:block; list-style:none; position:absolute; left:45%; top:550px; z-index:9900;  padding:5px 15px 5px 0; margin:0}
#pagination li { display:block; list-style:none; width:8px; height:8px; border-radius:20px;float:left; margin-left:5px; background:#e2e2e2;cursor:pointer; _overflow:hidden; }
#pagination li a { display:block; padding:0; margin:0;  text-indent:-9999px; }
#pagination li.current {background:#000; filter:alpha(opacity=100); -moz-opacity:1;  -khtml-opacity:1; opacity:1;}

/* navbars */


.navbar-default {
    border-color: rgba(227,227,227,.05);
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    background-color: rgba(255,255,255,1);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	min-height: 70px;
}

.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
	color: rgba(255,255,255,.7);
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: rgba(24,24,24,1);
}

.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
	padding-left: 20px;
	padding-right: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: rgba(24,24,24,.7);
	line-height: 40px;
	border-bottom: 1px solid #fff;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
	color: rgba(24,24,24,1);
	border-bottom: 1px solid #000;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
	color: rgba(24,24,24,1)!important;
    background-color: transparent;
}

.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {

}

@media(min-width:768px) {
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: rgba(255,255,255,1);
    }

    .navbar-default .navbar-header .navbar-brand {
        color: rgba(24,24,24,.7);
    }

    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #fff;
    }

    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: rgba(24,24,24,.7);
    }

    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: rgba(24,24,24,1);
    }

    .navbar-default.affix {
        border-color: rgba(34,34,34,.05);
        background-color: rgba(255,255,255,1);
    }

    .navbar-default.affix .navbar-header .navbar-brand {
        font-size: 18px;
		color: rgba(24,24,24,0.8);
    }

    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: rgba(24,24,24,1);
    }

    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
		background-color:rgba(255,255,255,1);
        color: rgba(24,24,24,0.8);
    }

    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
		background-color:rgba(255,255,255,1);
		color: rgba(24,24,24,1);
    }
}

/* owl */

#owl-ads .item img{
    display: block;
    width: 100%;
    height: auto;
	border: 10px solid #343434;
}

#owl-sports .item img{
    display: block;
    width: 100%;
    height: auto;
	border: 10px solid #343434;
	border-left: 0;
	border-bottom: 0;
}

#owl-games .item img{
    display: block;
    width: 100%;
    height: auto;
	border: 10px solid #343434;
	border-left: 0;
	border-top:0;
}

/* basic hax */

a, a:hover, a:focus, a:visited {
	font-family: Open Sans, Helvetica, Arial;
	text-decoration: none;
}

a, a:focus, a:visited {
	color: #151515;
}

a:hover {
	color: #000000;
}

h1, h2, h3, h4, h5, h6 {
font-family: Open Sans;
text-transform:uppercase;
font-weight: 700;
color: #151515;
}

h1 {
	font-size: 45px;
	padding: 15px;
	padding-top:5px;
}

h2 {
	font-size: 32px;
	padding: 15px;
	padding-top:5px;
}

h3 {
	font-size: 26px;
	padding: 15px;
	padding-top:5px;
}

h4 {
	font-size: 20px;
	padding: 15px;
	padding-top:5px;
}

h5 {
	font-size: 16px;
	padding: 15px;
	padding-top:5px;
}

h6 {
	font-size: 10px;
	padding: 15px;
	padding-top:5px;
}


section {

}

.footer-text {
	text-align:justify;
	font-size: 14px;
}

/* home */

.home-img  img{
	width:100%;
}

/* about us */

.about {
	padding: 50px 0px;
	font-size: 18px;
}

/* vision */

.vision {
	padding: 50px 0px;
	font-size: 18px;
}

/* product */

.listed-images img {
	max-width: 330px;
	padding-bottom: 30px;
	height:360px;
}

.prodtitle {
	position:fixed;
	font-size: 30px;
	font-weight:bold;
        z-index:500;
}

.prodname {
	font-size: 18px;
}

.prodimg {
	width: 100%;
	max-width: 600px;
	padding-bottom: 30px;
}

.prodstart {
	width: 100%;
}

.prodstart td {
	width: 50%;
	padding: 10px;
}

.proddesc { 
	padding: 10px;
}

/* contacts */

.contact-us {
	margin-top: 50px;
	padding-left: 50px;
	margin-bottom: 20px;
	font-size: 16px;
}

.contact-space {
	margin-bottom: 50px;
}

.contact-table {
	width: 100%;
}

.contact-table td { 
	width: 50%;
	padding: 10px;
}

.ctitle {
	padding-bottom: 10px;
}

.contact-table td { 
	width: 50%;
	padding: 10px;
}

.vertical-resize {
	resize: vertical;
}

.send-button {
	margin-top: 20px;
	margin-left: 10px;
	padding: 0 35px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    background: #78be20;
    display: block;
    border: none;
    border-radius: 0;
	font-size: 18px;
}

.send-button:hover {
    color: #FFF;
    background: #58960a;
}